@model IEnumerable<Project>
@{
    ViewData["Title"] = "My projects";
}

<div class="container">
    <div class="page">
        <h2 class="page-title fw-bold text-center">My Projects</h2>
    </div>
    <div class="project-action d-flex justify-content-between">
        <a class="btn btn-lg btn-success text-decoration-none" asp-action="Create">Create new project</a>
    </div>
    <div class="project-list row mt-3">
        @foreach (var item in Model)
        {
            <div class="project-item col-md-3 mt-3 pe-auto">
                <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">
                <div class="card bg-dark text-dark border-0 shadow">
                    <div style="width: 210px; height: 121px;">
                        <img class="card-img" src="@Html.DisplayFor(model => item.Image)"
                             onerror="this.src = '/images/common/default-img-1.jpg'"
                             alt="...">
                    </div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                </div>
                </a>
            </div>
        }
    </div>
</div>